<div class="page-header page-header-light">
  <div class="page-header-content header-elements-md-inline p-0">
    <div class="page-title d-flex justify-content-between">
      <h4>
        <i class="icon-arrow-left12 ml-1" (click)="back()"></i>
        Menu
      </h4>
      <h4><span class="text-center left-auto">My CX727</span></h4>
      <h4>
        Apps
        <i class="icon-arrow-right13 mr-1" (click)="front()"></i>
      </h4>
    </div>
  </div>
</div>

<div>
  <h1 class="p-4 text-center mb-0 font-weight-bold">
    Sync Device
  </h1>
</div>
<div class="content ">
  <div class="row">
    <div class="col-xl-3 col-md-6">
      <div class="card card-body ">
        <div class="media">
          <div class="mr-3">
            <a href="#">
              <img src="/assets/images/placeholder.jpg" class="rounded" width="38" height="38" alt="">
            </a>
          </div>
          <div class="media-body">
            <h3 class="font-weight-semibold mb-0">iPhone XS Max</h3>
            <span class="text-muted">
              <ui-switch [(ngModel)]="syncIPhone" (change)="onChange($event)"></ui-switch>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6">
      <div class="card card-body mb-0 border-bottom-0">
        <div class="media">
          <div class="mr-3">
            <a href="#">
              <img src="/assets/images/placeholder.jpg" class="rounded" width="38" height="38" alt="">
            </a>
          </div>
          <div class="media-body">
            <h3 class="font-weight-semibold mb-0">Calendar</h3>
            <span class="text-muted">
              <ui-switch [disabled]="disabled"></ui-switch>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6">
      <div class="card card-body mb-0 border-top-0 border-bottom-0">
        <div class="media">
          <div class="mr-3">
            <a href="#">
              <img src="/assets/images/placeholder.jpg" class="rounded" width="38" height="38" alt="">
            </a>
          </div>
          <div class="media-body">
            <h3 class="font-weight-semibold mb-0">Contacts</h3>
            <span class="text-muted">
              <ui-switch [disabled]="disabled"></ui-switch>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6">
      <div class="card card-body mb-0 border-top-0 border-bottom-0">
        <div class="media">
          <div class="mr-3">
            <a href="#">
              <img src="/assets/images/placeholder.jpg" class="rounded" width="38" height="38" alt="">
            </a>
          </div>
          <div class="media-body">
            <h3 class="font-weight-semibold mb-0">Navigation</h3>
            <span class="text-muted">
              <ui-switch [disabled]="disabled"></ui-switch>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6">
      <div class="card card-body mb-0 border-top-0">
        <div class="media">
          <div class="mr-3">
            <a href="#">
              <img src="/assets/images/placeholder.jpg" class="rounded" width="38" height="38" alt="">
            </a>
          </div>
          <div class="media-body">
            <h3 class="font-weight-semibold mb-0">Messages</h3>
            <span class="text-muted">
              <ui-switch [disabled]="disabled"></ui-switch>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
