<div class="d-md-none">
  <a routerLink="/home">
    <button class="navbar-toggler" type="button">
      <i class="icon-car icon-2x"></i>
    </button>
  </a>
</div>
<div class="d-md-none">
  <button class="navbar-toggler" type="button">
    <i class="icon-location3 icon-2x"></i>
  </button>
</div>
<div class="d-md-none">
  <button class="navbar-toggler sidebar-mobile-main-toggle" type="button">
    <i class="icon-compass4 icon-2x"></i>
  </button>
</div>
<div class="d-md-none">
  <button class="navbar-toggler sidebar-mobile-main-toggle" type="button">
    <i class="icon-gear icon-2x"></i>
  </button>
</div>
