<div class="page-header page-header-light">
  <div class="page-header-content header-elements-md-inline">
    <div class="page-title d-flex justify-content-between">
      <h4></h4>
      <h4><span class="text-center left-auto">My CX727</span></h4>
      <h4></h4>
    </div>
  </div>
</div>

<div>
  <img src="/assets/images/car1.png" class="img-fluid" />
  <h1 class="p-4 text-center mb-0 font-weight-bold">
    Personalize your CX727
  </h1>
</div>
<div class="content card-group-control card-group-control-right">
  <div class="card mb-2">
    <div class="card-header">
      <h6 class="card-title">
        <a class="collapsed"  >
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="p1">
            <label class="custom-control-label" for="p1" (click)="trigger('connect_devices');">
              Connect your smart devices
            </label>
          </div>
        </a>
      </h6>
    </div>
  </div>
  <div class="card mb-2">
    <div class="card-header">
      <h6 class="card-title">
        <a class="collapsed">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="p1">
            <label class="custom-control-label" for="p1">
              Connect to your Favorite Apps
            </label>
          </div>
        </a>
      </h6>
    </div>
  </div>
  <div class="card mb-2">
    <div class="card-header">
      <h6 class="card-title">
        <a class="collapsed">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="p1">
            <label class="custom-control-label" for="p1">
              Configure Voice and Audio Settings
            </label>
          </div>
        </a>
      </h6>
    </div>
  </div>
  <div class="card mb-2">
    <div class="card-header">
      <h6 class="card-title">
        <a class="collapsed">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="p1">
            <label class="custom-control-label" for="p1">
              Configure Seating, Mirrors & Steering
            </label>
          </div>
        </a>
      </h6>
    </div>
  </div>
  <div class="card mb-2">
    <div class="card-header">
      <h6 class="card-title">
        <a class="collapsed">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="p1">
            <label class="custom-control-label" for="p1">
              Configure Climate & Conditionng
            </label>
          </div>
        </a>
      </h6>
    </div>
  </div>
  <div class="card mb-2">
    <div class="card-header">
      <h6 class="card-title">
        <a class="collapsed">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="p1">
            <label class="custom-control-label" for="p1">
              Smart Charging & Payments
            </label>
          </div>
        </a>

      </h6>
    </div>
  </div>
</div>
