<div class="page-header page-header-light">
  <div class="page-header-content">
    <div class="page-title d-flex justify-content-between">
      <h4>
        <i class="icon-arrow-left52 mr-2" (click)="back()"></i>
      </h4>
      <h4><span class="text-center left-auto">Confirmation</span></h4>
      <h4></h4>
    </div>
  </div>
</div>

<div class="p-4 text-center">
  <h1 class="mb-0">
    You're all set!
  </h1>
  <h5>
    Here's a review of your settings you may edit at any time
  </h5>
<div class="content">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <div class = "text-center"  (click) = "apps()">
              <!-- <label class="custom-control-label" for="p1"> -->
                Favorite App 
                <i class="black icon-check2 icon-3x" ></i>
              <!-- </label> -->
            </div>

              <div class="text-center" (click) = "sync_devices()">
              <!-- <label class="custom-control-label" for="p1"> -->
                Sync Devices 
                <i class="black icon-check2 icon-3x" ></i>
              <!-- </label> -->
            </div>

            <div class="text-center"  (click) = "charging()">
              <!-- <input type="checkbox" class="custom-control-input" id="p3"> -->
              <!-- <label class="custom-control-label" for="p3"> -->
                Charging
                <i class=" black icon-check2 icon-3x" ></i>
              <!-- </label> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <button class="btn btn-success w-100 d-block" (click)="complete()">Complete Order</button>
</div>
