<div class="page-header page-header-light">
  <div class="page-header-content header-elements-md-inline">
    <div class="page-title d-flex justify-content-between">
      <h4>
        <i class="icon-arrow-left52 mr-2" (click)="back()"></i>
      </h4>
      <h4><span class="text-center left-auto">Complete your order</span></h4>
      <h4></h4>
    </div>
  </div>
</div>

<div class="p-4 text-center">
  <h1 class="mb-0">
    Complete these steps in order to receive your CX727
  </h1>
</div>
<div class="content">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="p1">
              <label class="custom-control-label" for="p1">
                Schedule Home Changer Installation
              </label>
            </div>

            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="p2">
              <label class="custom-control-label" for="p2">
                Schedule Your Delivery
              </label>
            </div>

            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="p3">
              <label class="custom-control-label" for="p3">
                Complete your finanace application
              </label>
            </div>

            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="p3">
              <label class="custom-control-label" for="p3">
                Upload your driver's license
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <button class="btn btn-success w-100 d-block" (click)="complete()">Complete Order</button>
</div>
