<div class="page-header page-header-light">
  <div class="page-header-content header-elements-md-inline">
    <div class="page-title d-flex justify-content-between">
      <h4></h4>
      <h4><span class="text-center left-auto">My CX727</span></h4>
      <h4></h4>
    </div>
  </div>
</div>

<div>
  <h1 class="p-4 text-center mb-0 font-weight-bold">
    Audio
  </h1>
</div>
<div class="content ">
  <ul class="nav nav-tabs nav-tabs-solid bg-slate border-0 nav-justified rounded">
    <li class="nav-item"><a class="nav-link rounded-left active" [class.active]="show1" (click)="tab('App', $event, 1)">App</a></li>
    <li class="nav-item"><a class="nav-link" [class.active]="show2" (click)="tab('Sirius', $event, 2)">Sirius</a></li>
    <li class="nav-item">
      <a class="nav-link" [class.active]="show3" (click)="tab('Radio', $event, 3)">Radio</a>
    </li>
    <li class="nav-item">
      <a class="nav-link rounded-right" [class.active]="show4" (click)="tab('Inactive', $event, 4)"><i class="icon-radio-checked"></i></a>
    </li>
  </ul>
  <div class="row" *ngIf="show1">
    <div class="col-xl-3 col-md-6">
      <div class="card card-body ">
        <div class="media">
          <div class="mr-3">
            <a href="#">
              <img src="/assets/images/placeholder.jpg" class="rounded" width="38" height="38" alt="">
            </a>
          </div>
          <div class="media-body">
            <h3 class="font-weight-semibold mb-0">Spotify</h3>
            <span class="text-muted  font-size-sm">
              <span class="font-weight-bold ">Road Trip</span> is set as your default platlist.
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-md-6">
      <div class="card card-body mb-0 border-top-0">
        <div class="media">
          <div class="mr-3">
            <a href="#">
              <img src="/assets/images/placeholder.jpg" class="rounded" width="38" height="38" alt="">
            </a>
          </div>
          <div class="media-body">
            <h3 class="font-weight-semibold mb-0">Add More Apps</h3>
            <span class="font-weight-bold font-size-sm">
              More music? Listen to an Audiobook?
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-container *ngIf="show2">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-img-actions m-1">
            <img class="card-img img-fluid" src="/assets/images/placeholder.jpg" alt="">
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card">
          <div class="card-img-actions m-1">
            <img class="card-img img-fluid" src="/assets/images/placeholder.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-img-actions m-1">
            <img class="card-img img-fluid" src="/assets/images/placeholder.jpg" alt="">
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card">
          <div class="card-img-actions m-1">
            <img class="card-img img-fluid" src="/assets/images/placeholder.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-img-actions m-1">
            <img class="card-img img-fluid" src="/assets/images/placeholder.jpg" alt="">
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card">
          <div class="card-img-actions m-1">
            <img class="card-img img-fluid" src="/assets/images/placeholder.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-img-actions m-1">
            <img class="card-img img-fluid" src="/assets/images/placeholder.jpg" alt="">
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card">
          <div class="card-img-actions m-1">
            <img class="card-img img-fluid" src="/assets/images/placeholder.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-img-actions m-1">
            <img class="card-img img-fluid" src="/assets/images/placeholder.jpg" alt="">
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card">
          <div class="card-img-actions m-1">
            <img class="card-img img-fluid" src="/assets/images/placeholder.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="show3">
    <div class="row">
      <div class="col">
        <div class="card bg-green-400">
          <div class="card-body m-1 text-center">
            <h3>88.1</h3>
            <h3>WW1</h3>
            <i class="position-absolute black icon-check2 icon-3x" style="top:66%;right:0px;"></i>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card bg-green-400">
          <div class="card-body m-1 text-center">
            <h3>88.2</h3>
            <h3>WW2</h3>
            <i class="position-absolute black icon-check2 icon-3x" style="top:66%;right:0px;"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col">
          <div class="card bg-green-400">
            <div class="card-body m-1 text-center">
              <h3>88.3</h3>
              <h3>WW3</h3>
              <i class="position-absolute black icon-check2 icon-3x" style="top:66%;right:0px;"></i>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card bg-green-400">
            <div class="card-body m-1 text-center">
              <h3>88.4</h3>
              <h3>WW4</h3>
              <i class="position-absolute black icon-check2 icon-3x" style="top:66%;right:0px;"></i>
            </div>
          </div>
        </div>
      </div>

  </ng-container>

  <ng-container *ngIf="show4">
    <div class="position-relative overflow-hidden" style="height: 55vh">
      <img src="/assets/images/top_car.png" class="rotate-90 position-absolute" style="width: 152%;left: -90px;top:100px;" />
      <div id="slider_db" class=" position-absolute" style="right:10px;top:50px;height: 50vh"></div>
    </div>
  </ng-container>
</div>
