<div class="page-header page-header-light">
  <div class="page-header-content header-elements-md-inline">
    <div class="page-title d-flex justify-content-between">
      <h4></h4>
      <h4><span class="text-center left-auto">My CX727</span></h4>
      <h4></h4>
    </div>
  </div>
</div>

<div>
  <h1 class="p-4 text-center mb-0 font-weight-bold">
    Sync Apps
  </h1>
</div>
<div class="content ">
  <div class="row">
    <div class="col-xl-3 col-md-6">
      <div class="card card-body ">
        <div class="media">
          <div class="mr-3">
            <a href="#">
              <img src="/assets/images/placeholder.jpg" class="rounded" width="38" height="38" alt="">
            </a>
          </div>
          <div class="media-body">
            <h3 class="font-weight-semibold mb-0">Spotify</h3>
            <span class="text-muted">
              <ui-switch  (change)="onChange($event)"></ui-switch>
            </span>
          </div>
        </div>
        <div class="collapse  text-center mt-2" [ngClass]="{'show': show}">
          <div class="form-group mb-1">
            <input type="text" class="form-control" placeholder="username">
          </div>
          <div class="form-group mb-0">
            <input type="text" class="form-control" placeholder="password">
          </div>

          <div class="d-flex justify-content-between mt-3">
            <label class="mt-1">
              Import playlist and lorem ipsum.
            </label>
            <ui-switch></ui-switch>
          </div>
          <div class="d-flex justify-content-between mt-3">
            <label class="mt-1">
              Import playlist and lorem ipsum.
            </label>
            <ui-switch></ui-switch>
          </div>
          <div class="d-flex justify-content-between mt-3">
            <label class="mt-1">
              Import playlist and lorem ipsum.
            </label>
            <ui-switch></ui-switch>
          </div>

        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6">
      <div class="card card-body">
        <div class="media">
          <div class="mr-3">
            <a href="#">
              <img src="/assets/images/placeholder.jpg" class="rounded" width="38" height="38" alt="">
            </a>
          </div>
          <div class="media-body">
            <h3 class="font-weight-semibold mb-0">Alexa</h3>
            <span class="text-muted">
              <ui-switch></ui-switch>
            </span>
          </div>
        </div>

      </div>
    </div>
    <div class="col-xl-3 col-md-6">
      <div class="card card-body">
        <div class="media">
          <div class="mr-3">
            <a href="#">
              <img src="/assets/images/placeholder.jpg" class="rounded" width="38" height="38" alt="">
            </a>
          </div>
          <div class="media-body">
            <h3 class="font-weight-semibold mb-0">Target</h3>
            <span class="text-muted">
              <ui-switch></ui-switch>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6">
      <div class="card card-body">
        <div class="media">
          <div class="mr-3">
            <a href="#">
              <img src="/assets/images/placeholder.jpg" class="rounded" width="38" height="38" alt="">
            </a>
          </div>
          <div class="media-body">
            <h3 class="font-weight-semibold mb-0">iHome</h3>
            <span class="text-muted">
              <ui-switch></ui-switch>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6">
      <div class="card card-body">
        <div class="media">
          <div class="mr-3">
            <a href="#">
              <img src="/assets/images/placeholder.jpg" class="rounded" width="38" height="38" alt="">
            </a>
          </div>
          <div class="media-body">
            <h3 class="font-weight-semibold mb-0">Pandora</h3>
            <span class="text-muted">
              <ui-switch></ui-switch>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
